src/main/mule/demos/rest/demo-04.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="demo-04-batch-v2" doc:id="8f871b52-f8e1-4a78-a6bc-388a651d359a" >
		<flow-ref doc:name="Login" doc:id="c3b0b1b0-c265-42ab-b658-d4d16968f05c" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]" />
		<ee:transform doc:name="Build Body" doc:id="63dbf056-8baa-4946-aa79-8dec13d98bc9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  operation : "insert",
  object : "Account",
  contentType: "CSV",
  lineEnding: "CRLF"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Create Job" doc:id="a5e00702-8b22-426f-8b5c-96569dd8d005" config-ref="SFDC_ENDPOINT" path="/services/data/v51.0/jobs/ingest" target="job_id" targetValue="#[payload.id]" >
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Build Body" doc:id="b589756e-be1d-4c99-92ed-8c45d0f4d85c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/csv lineSeparator="\r\n"
---
vars.requestPayload map (
	{
		name: $.nome
	}
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Upload Data" doc:id="58799b3a-b252-4f7a-88e2-47c67ce68de5" config-ref="SFDC_ENDPOINT" path="/services/data/v51.0/jobs/ingest/{JobId}/batches" >
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String,
	"Content-type": "text/csv"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	JobId: vars.job_id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Build Body" doc:id="0e294dc1-c714-45c0-bea3-3b063cfee0c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
   state : "UploadComplete"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PATCH" doc:name="Complete Upload" doc:id="d8a90700-6424-49f8-9863-372e20c9340a" config-ref="SFDC_ENDPOINT" path="/services/data/v51.0/jobs/ingest/{JobId}">
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	JobId: vars.job_id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
