src/main/mule/demos/rest/demo-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-02-insert-flow" doc:id="dd3714b8-faef-4cae-8f47-81ee69ef65aa" >
		<set-variable value="Account" doc:name="Object Name" doc:id="447e9677-9c65-4b04-8bb6-6deae6cdaf45" variableName="objectName"/>
		<flow-ref doc:name="Realiza Autenticação" doc:id="b96e82a8-b9f7-44fb-adba-bf6bbab38199" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		<ee:transform doc:name="Build Body" doc:id="24ccb26a-6cbb-47d5-b74c-6dcf013287dc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name": vars.requestPayload.nome,
	"AccountNumber": vars.requestPayload.numero_conta
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="1344e257-b135-4459-8f22-341ac6bf85b7" config-ref="SFDC_ENDPOINT" path="/services/data/v50.0/sobjects/{object_name}">
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	object_name: vars.objectName
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b6162855-9e9f-4a55-92fd-2d321200d059" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id_conta: payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
