src/main/mule/demos/rest/demo-03.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="demo-03-consulta-flow" doc:id="1c180576-a031-44e5-9162-04ac45c54acf" >
		<set-variable value="#[vars.requestPayload.select]" doc:name="Query" doc:id="4d7dda81-3ac7-42f4-aa9d-28a8206f1ab2" variableName="query"/>
		<flow-ref doc:name="Login" doc:id="af83ca01-af4a-4cbf-8429-0194df993927" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		<http:request method="GET" doc:name="Request" doc:id="04f42b8e-1da1-440d-a03a-9e671ea1ef51" config-ref="SFDC_ENDPOINT" path="/services/data/v51.0/query" >
			<http:body ><![CDATA[#[{}]]]></http:body>
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	q: vars.query
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="0abbe3b1-70a9-472e-8872-553683a490cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.records map($-"attributes")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
