src/main/mule/demos/rest/demo-01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-01-rest-flow"
		doc:id="debd295b-3d23-4b28-8a9e-fa92f7e85d8e">
		<ee:transform doc:name="Build Object Login"
			doc:id="9a0fd8d6-6ae6-4915-aace-4e5bb85f9356">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	grant_type: "password",
	client_id: p("sfdc.auth.client_id"),
	client_secret: p("sfdc.auth.client_secret"),
	username: p("sfdc.auth.username"),
	password: p("sfdc.auth.password") ++ p("sfdc.auth.security_token")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC REST"
			doc:id="ad45f56f-cc2c-49aa-aae4-fb491775c079"
			config-ref="SFDC_AUTH" path="/services/oauth2/token">
			<http:body><![CDATA[#[{}]]]></http:body>
			<http:query-params><![CDATA[#[payload]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="d048eb2e-894e-4b13-ab86-e38a73e6d93c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.access_token
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="demo-01-soap-flow"
		doc:id="7331126a-83bc-4872-a876-774bd2011c95">
		<ee:transform doc:name="Transform Message"
			doc:id="efd71900-8e60-4c99-a41d-af03bb8414bf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/xml
ns n1 urn:partner.soap.sforce.com
ns env http://schemas.xmlsoap.org/soap/envelope/
---
env#Envelope: {
    env#Body: {
        n1#login: {
            n1#username: p('sfdc.auth.username'),
            n1#password: p('sfdc.auth.password') ++ p('sfdc.auth.security_token')
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC SOAP"
			doc:id="67ad87c7-00a2-4b33-be37-b48ec073e939"
			config-ref="SFDC_AUTH" path="/services/Soap/u/50.0">
			<http:headers><![CDATA[#[{
	SOAPAction: "login",
	"Content-Type": "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="0f764821-5eb5-4b75-8879-22741b73c149">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.Envelope.Body.loginResponse.result.sessionId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
